<h1 class="chatTitle"> Chat</h1>
<hr class="chatHR">
<div class="app-messages" id="app-messages">
    <div *ngFor="let item of chatService.chats" class="messageDiv"
        [ngClass]="{'text-end': item.uid === chatService.user.uid}">
        <span class="badge"
            [ngClass]="{'bagde-other': item.uid !== chatService.user.uid, 'bagde-me': item.uid === chatService.user.uid}">{{item.name}}</span>
        <p>
            {{item.message}}
        </p>
    </div>
</div>

<input type="text" name="message" [(ngModel)]="message" (keyup.enter)="sendMessage()" placeholder="Send Message"
    class="form-control">